doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Unknown
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    style.
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      body {
        background-color: #f0f2f5;
        color: #333;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        transition: background-color 0.3s ease;
      }

      header {
        padding: 20px;
        text-align: center;
        animation: fadeIn 1s ease-in-out;
      }

      header h1 {
        font-size: 2.5rem;
        margin: 0;
        color: black;
      }

      header h3 {
        font-size: 1.2rem;
        margin-top: 10px;
        color: #555;
      }

      #choose, #welcome {
        width: 100%;
        max-width: 600px;
        padding: 20px;
        border-radius: 10px;
        animation: fadeIn 1s ease-in-out;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      button {
        font-size: 1rem;
        border: none;
        background-color: black;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      button:hover {
        background-color: black;
      }

      input[type="text"],
      input[type="password"] {
        padding: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 10px;
        background-color: #fff;
        color: #333;
        font-size: 1rem;
      }

      .message-container {
        list-style: none;
        padding: 10px;
        margin: 0;
        flex: 1;
        overflow-y: auto;
        border: 1px solid #ddd;
        background-color: #ffffff;
        border-radius: 10px;
        width: 100%;
        box-sizing: border-box;
        position: relative;
      }

      .message-container-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        position: relative;
      }

      .message {
        padding: 10px;
        max-width: 70%;
        border-radius: 10px;
        position: relative;
        color: #fff;
        font-size: 16px;
        word-wrap: break-word;
      }

      .message.you {
        background-color: #4CAF50;
        align-self: flex-end;
      }

      .message.other {
        background-color: #6495ED;
        align-self: flex-start;
      }

      .message-time {
        font-size: 0.8rem;
        color: #888;
        margin-top: 4px;
        align-self: flex-end; /* 시간을 메시지의 오른쪽 아래에 정렬 */
      }

      .message::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid transparent;
      }

      .message.you::after {
        border-right-color: #4CAF50;
        border-left: 0;
        border-right: 10px solid #4CAF50;
        left: 100%;
        top: 10px;
      }

      .message.other::after {
        border-left-color: #6495ED;
        border-right: 0;
        border-left: 10px solid #6495ED;
        right: 100%;
        top: 10px;
      }

      form#msg {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;
        box-sizing: border-box;
      }

      form#msg input {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
        border-radius: 8px;
        border: 1px solid #ccc;
        background-color: #fff;
        color: #333;
      }

      form#msg button {
        padding: 10px;
        border-radius: 8px;
        background-color: black;
        color: white;
        border: none;
        box-sizing: border-box;
      }

      main {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        max-width: 800px;
        box-sizing: border-box;
        justify-content: center; /* main 내부 요소의 세로 중앙 정렬 */
        align-items: center;     /* main 내부 요소의 가로 중앙 정렬 */
      }

      #room {
        width: 100%;
        height: 80vh;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        box-sizing: border-box;
        animation: fadeIn 1s ease-in-out;
      }

      #room h3 {
        margin: 0 0 10px 0;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
      }

      #welcome {

        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      #nickname input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        color: #333;
      }

      #friendBox {
        position: fixed;
        right: 20px;
        top: 20px;
        width: 200px;
        height: auto;
        border: 1px solid #ddd;
        padding: 10px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        z-index: 1000;
        animation: fadeIn 1s ease-in-out;
      }

      #friendBox h3 {
        margin-top: 0;
      }

      #friendBox ul {
        list-style: none;
        padding: 0;
      }

      #friendBox li {
        margin-bottom: 10px;
      }

      #Logo {
        width: 100px;
        height: auto;
        cursor:pointer;
        position: absolute;
        top: 2px;
        left: 10px;
        animation: fadeIn 3s ease-in-out;
      }

      #SiginButton {
        margin-left: 45px;
      }

      #LoginButton {
        margin-left: 28px;
      }
      #LogIn{
        width: 100%;
        max-width: 330px;
        border-radius: 10px;
        animation: fadeIn 1s ease-in-out;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      #emailPasswd{
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      #roomname{
        position: relative; /* 부모 요소를 상대 위치로 설정 */
        height: 100px;      /* 폼 박스 높이 (예시) */
        width: 310px;       /* 폼 박스 너비 (예시) */
        border: 1px solid #ccc; /* 폼 박스 테두리 (선택 사항) */
        box-sizing: border-box; /* 패딩 포함 계산 */
        animation: fadeIn 1s ease-in-out;
        display: flex;
        justify-content: center; /* 가로 중앙 */
        align-items: center;     /* 세로 중앙 */
      }
      #FriendAccept{
        background-color : white;
        color : black;
      }
      #emailSubmit, #verifySubmit, #passwdSubmit,#nickname{
        animation: fadeIn 1s ease-in-out;
      }
      #nick{
        animation: fadeIn 1s ease-in-out;
        display: flex;
        flex-direction: column;  /* 세로 정렬 */
        align-items: center; 
      }
      .friend-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }

      .friend-card {
        display: flex;
        align-items: center;
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 250px;
      }

      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .friend-info {
        flex-grow: 1;
      }

      .friend-name {
        margin: 0;
        font-size: 16px;
      }

      .friend-status {
        margin: 0;
        font-size: 12px;
        color: green; /* 온라인 상태 표시를 위한 색상 */
      }

      .chat-button {
        background-color: black;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
      }

      #Note {
        width: 90vw; /* 화면의 90%를 차지 */
        max-width: 1300px; /* 너무 커지는 것을 방지 */
        margin: 0 auto;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        box-sizing: border-box;
        animation: fadeIn 1s ease-in-out;
      }


      #NoteContainer.message-container {
        width: 100%;
        max-width: 100%;
        flex-grow: 1;
        overflow-y: auto;
        max-height: 70vh; /* 메시지 목록이 너무 커지지 않도록 설정 */
      }

      #note-input {
        width: 100%;
        display: flex;
        gap: 10px; /* 입력 필드와 버튼 사이의 간격 */
        box-sizing: border-box;
      }

      #note {
        width: 100vw;
        display: flex;
        max-width: 1300px;
        justify-content: space-between; /* 입력 필드와 버튼을 정렬 */
      }

      #note input {
        flex: 1; /* 입력 필드가 버튼보다 넓게 차지 */
        padding: 10px;
      }

      #note button {
        padding: 10px 15px;
        white-space: nowrap;
      }

      .div-btns {
        display: flex;
        justify-content: center; /* 중앙 정렬 */
        gap: 20px;               /* 버튼 사이 간격 */
        margin-top: 10px;
      }

      .div-btns button {
        padding: 10px 20px;
      }

      .chat-buttons {
        display: flex;
        justify-content: flex-end; /* 오른쪽 정렬 */
        gap: 10px;                  /* 버튼 사이 간격 */
        /*margin-bottom: 5px;*/
        flex-wrap: wrap;
      }

      .chat-buttons button {
        padding: 8px 12px;
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        white-space: nowrap;
      }

      .chat-buttons button:hover {
        background-color: #f0f0f0;
      }

      .room-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }

  body
    header
      h1 언노운
      h3#SubTitle Join and chat with new people!
      img#Logo(src="/src/Logo.png" alt="Logo")

    main
      #SignIn
        form#uniSubmit
          input#uniInput(placeholder="대학교 이름을 입력하세요" require type="text")
          button#uniButton(type="submit") 다음
        form#emailSubmit
          input#emailVerify(placeholder="학교 이메일을 입력하세요" required type="text")
          button#emailCodeButton(type="submit") 인증코드 보내기
        form#verifySubmit
          input#codeInput(placeholder="인증 코드 입력" required type="text")
          button#verifyButton(type="submit") 인증
        form#passwdSubmit
          input#passwd(placeholder="패스워드 설정" required type="text")
          button#passwdButton(type="submit") 설정
        form#nickname
          input#nicknameInput(placeholder="닉네임을 입력하세요" required type="text")
          button#nicknameButton 저장

      form#LogIn
        #emailPasswd
          input#emailInput(placeholder="학교 이메일을 입력하세요" required type="text")
          input#passwdInput(placeholder="패스워드를 입력하세요" required type="password")
        .div-btns
          button#LoginButton(type="click") 로그인
          button#SiginButton(type="click") 회원가입

      #main
        form#roomname
          button 1대1 랜덤챗
        form#nick
          input#nickInput(placeholder="일회용 닉네임을 입력하세요" required type="text")
          button 상대 찾기        
        #friendBox.friend-container
          if friends && friends.length > 0
            each friend in friends
              .friend-card
                img.avatar(src=friend.avatar || 'default-avatar.png' alt="Avatar")
                .friend-info
                  h4.friend-name= friend.name
                  p.friend-status= friend.status
                button.chat-button(data-friend=friend.name) 채팅
          else
            p 친구 목록이 없습니다.
        #Note
          h3
          ul#NoteContainer.message-container
          #note-input
            form#note
              input(placeholder="message" required type="text")
              button 쪽지보내기
      #room
        .room-header
          h3 방 제목
          .chat-buttons
            button#FriendRequest 친구 요청 보내기!
            button#FriendAccept 친구 요청 수락하기!
        ul.message-container
        button#leave 방 나가기
        #message-input
          form#msg
            input(placeholder="message" required type="text")
            button Send

      #waiting
        h2 상대방 찾는중 ...

    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")
