html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title RandomRoom
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        style.
            .message-container {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                height: 600px;
                border: 1px solid #444;
                padding: 10px;
                background-color: #222;
                border-radius: 10px;
            }
            .message {
                margin-bottom: 10px;
                padding: 10px;
                max-width: 70%;
                border-radius: 10px;
                position: relative;
                color: #fff;
                font-size: 16px;
                word-wrap: break-word;
            }
            .message.you {
                background-color: #4CAF50;
                align-self: flex-end;
            }
            .message.other {
                background-color: #555;
                align-self: flex-start;
            }
            .message::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 10px solid transparent;
            }
            .message.you::after {
                border-right-color: #4CAF50;
                border-left: 0;
                border-right: 10px solid #4CAF50;
                left: 100%;
                top: 10px;
            }
            .message.other::after {
                border-left-color: #555;
                border-right: 0;
                border-left: 10px solid #555;
                right: 100%;
                top: 10px;
            }
            form#msg {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }
            form#msg input {
                flex: 1;
                padding: 10px;
                margin-right: 10px;
                border-radius: 5px;
            }
            form#msg button {
                padding: 10px;
                border-radius: 5px;
                background-color: #4CAF50;
                color: white;
                border: none;
            }
    body(style="background-color: black; color: white;")
        header 
            h1 RandomRoom
        main
            div#welcome(style="text-align: right; padding-right: 20px;")
                form#nickname
                    input(placeholder="닉네임을 입력하세요", required, type="text" style="background-color: white;")
                    button Save
                form#roomname
                    // input(placeholder="room name", required, type="text")
                    button Enter Room
            div#room
                ul.message-container
                    // 추가 메시지가 여기에 표시됨
                form#msg
                    input(placeholder="message", required, type="text")
                    button Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")

